body {
	padding-top: 60px;
}

.mainContainer .panel{
	float: left;
	margin-right: 5px;
	border: 1px solid gray;
	min-height: 538px;
}

.mainContainer .memeContainer{
	width:200px;
	position: fixed;
}
.mainContainer .toolsContainer{
	width:200px;
	height: 562px;
	overflow: auto;
	position: fixed;
	margin-left: 860px;
}
.mainContainer .canvasContainer{
	width:650px;
	margin-left: 205px;
}
.mainContainer .footerText{
	margin: 10px 220px;
	width:650px;
}
.drawingTools{
	padding: 5px;
}

.panelTools{
	padding: 5px;
}

.canvasArea{
	min-height: 484px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.searchPanel{
	border-bottom: 1px solid black;
	overflow: auto;
}
.searchOptions{
	padding: 5px;
	padding-bottom: 0px;
	float: left;
	width: 155px;
}
.searchOptions input{
	width:155px;
}
.searchOptions select{
	width:165px;
}
.searchLoading{
	float: right;
	padding-top: 13px;
	padding-right: 5px;
}
.loadingGif{
	display: none;
}
.memeContainer .memeList{
	overflow: auto;
	height: 421px;
}
.memeContainer .templateTool{
	padding: 5px;
	border-top: 1px solid black;
}
.memeContainer .templateTool select{
	width:190px;
}
.memeImage {
	width: 77px;
	height: 77px;
	margin-left: 13px;
	margin-top: 10px;
	z-index: 100;
}
.ui-draggable-dragging {
	max-width: 650px;
	max-height: 250px;
}
.categoryImage {
	width: 64px;
	height: 64px;
	margin-left: 13px;
	margin-top: 10px;
	z-index: 100;
}
.note{
	color: gray;
}
.tinyButtons{
	padding: 1px;
}
.layesTable .selected td, .framesTable .selected{
	background: #EEE;
}
.layesTable th:first-child{
	width: 160px;
}
.textTool, .freeHand , .animateTool {
	padding: 5px;
	display: none;
}
.toolContainer input[type=text], textarea{
	width: 175px;
}
.toolContainer select{
	width: 185px;
}
.rightBtn{
	float:right;
	margin-left: 5px;
}
.selectObject, .categoryImage, .frameData {
	cursor: pointer;
}
